<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
</head>
<body>
    <h1>It's a <%= day %> !</h1>
    <ul>
        <% for(var i = 0; i < newListItems.length; i++) { %>
            <li><%= newListItems[i] %></li>
        <% } %>   
        
    </ul>
    <form action="/" method="POST">
        <input type="text" name="newItem" placeholder="New list">
        <button type="submit" name="button">Add Item</button>
    </form>
</body>
</html>